
h2 {
	font-size: 24px;
	font-weight: normal;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	color: #aa4927;
}

.container {
	max-width: 920px;
}

.thumbs img{
	margin-bottom: 15px;
}

.logo {
	margin: 30px 0 8px 0;
}

.menu li {
	list-style: none;
	float: right;
	margin: 0 0 0 30px;
}