---
layout: default
---
<div class="row">
	<div class="col-xs-12 col-md-8">
		<h2>{{ page.title }}</h2>
		<div class="post">
		{{ content }}
		</div>
	</div>
	<div class="sidebar col-xs-12 col-md-4">
		<p>You might also like this stuff.</p>
            <img src="/images/sm-test.jpg">
            <img src="/images/sm-test.jpg">
            <img src="/images/sm-test.jpg">
	</div>
</div>
<div class="footer row">
      <div class="col-md-12">
        <p>Copyright 2014 Rachel Ferguson</p>
      </div>
    </div>

